@model proyecto_pabon_yilber.Models.Loginmodel

<div class="container text-center w-75">
    <h1>Iniciar Sesión</h1>
    <form asp-action="Login" asp-controller="Auth" method="post" class="mt-5">
        <div class="form-group mt-5">
            <label for="login_Correo">Correo</label>
            <input type="email" class="form-control" id="login_Correo" name="login_Correo" asp-for="login_Correo"
                required>
            <span asp-validation-for="login_Correo" class="text-danger"></span>
        </div>
        <div class="form-group mt-5">
            <label for="login_Contrasena">Contraseña</label>
            <input type="password" class="form-control" name="login_Contrasena" id="login_Contrasena"
                asp-for="login_Contrasena" required>
        </div>
        <button type="submit" class="btn btn-primary mt-5">
            Iniciar Sesión
        </button>
    </form>
</div>